block content
      style.
        table { width: 100%; }
        th, tr, td {
          border: 1px solid black;
          padding: 10px;
          margin: 10px;
        }
      .wrapper
            h1 PMM Members
                button(type="submit" id="signout" value="Sign Out" name="Sign Out") sign out          
            table
                each memberList in member_list
                    each member in memberList
                        tr
                            th First Name
                            th Last Name
                            th Email
                            th Phone Number
                            th City
                            th State
                            th Crab Year
                        tr
                            td= member.firstName
                            td= member.lastName
                            td= member.email
                            td= member.phoneNumber
                            td= member.city
                            td= member.state
                            td= member.crabYear